* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 103px;
    font-family: var(--bs-body-font-family);
}
/* loder */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ff3f6c;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* Header */
.box-shadow {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
}
.w-10 {
    width: 10%;
}
.container1 {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}
.fixed-top {
    background-color: #ffff !important;
}
.header-color-position {
    color: #a21a1a;
    top: 0;
    right: 0;
    position: fixed;
    left: 0;
    z-index: 10;
    margin-bottom: 0px;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 4px 12px 0 rgba(10, 10, 10, 0.19);
}
.display-logo {
    float: left;
    height: inherit;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}
.logo {
    width: 111px;
    height: 61px;
    vertical-align: middle;
    padding: 0;
    margin: -10px;
    cursor: pointer;
}

.navbar-nav .nav-item .nav-link {
    font-size: 12px;
    font-weight: 700;
    color: #282c3f;
    text-align: center;
    padding: 8px 15px;
}

.new-label {
    color: #ff3f6c;
    font-weight: bold;
    font-size: 9px;
    margin-left: 5px;
}
.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar .input-group {
    width: 520px;
}
.search-bar .form-control {
    border-radius: 3px !important;
    border-radius: 0;
    border-left: 0;
}
.search-bar .input-group-text {
    background-color: #fff;
    border-right: 0;
    border-color: transparent !important;
}
.search-bar .form-control:focus {
    background-color: #fff !important;
    transition: all 0.2s linear;
    border-color: #E4E4E4 !important;
    box-shadow: none;
}
.icons {
    padding-right: 35px;
}
.nav-item a i {
    font-size: 20px;
}
.fs-size {
    font-size: 11px;
    letter-spacing: 1px;
}
.slick-next{
    right: 0px;
}
.slick-dots li button {
    color: #000;
}
.slick-dots li button:before {
    font-size: 20px;    
    content: '•';

}
.men,
.women,
.kids,
.home,
.beauty,
.studio {
    border-bottom: 4px solid white !important;
    transition: all linear 0.3s;
}

.men-mega,
.women-mega,
.kids-mega,
.home-mega ,
.beauty-mega,
.studio-mega,
.profile-mega{
    /* padding: 15px; */
    /* box-shadow: 0 0 3px 1px #696e79; */
    
    opacity: 0;
    visibility: hidden;
    /* background-color: white; */
    transition: all 0.3s linear;
}
.men:hover .men-mega,
.women:hover .women-mega,
.kids:hover .kids-mega,
.home:hover .home-mega ,
.beauty:hover .beauty-mega,
.studio:hover .studio-mega,
.profile:hover .profile-mega{
    opacity: 1;
    visibility: visible;
    
}
.men_menu h6 {
    color: #ee5f73;
}

.men_menu ul,
.women_menu ul,
.kids_menu ul ,
.home_menu ul,
.beauty_menu ul{
    list-style: none;
    padding-left: 0;
}

.men_menu ul li a,
.women_menu ul li a,
.kids_menu ul li a ,
.home_menu ul li a,
.beauty_menu ul li a{
    /* font-size: 12px!important; */
    margin-bottom: 5px;
    padding: 0px!important;
    padding-left: 25px;
}

.men:hover {
    border-bottom: 4px solid #ee5f73 !important;
}
.color-hover{
    color: #282c3f;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px !important;
}
.color-hover:hover{
    font-weight: 700;
    color: #282c3f;
}


/* WOMEN */

.women:hover {
    border-bottom: 4px solid #fb56c1 !important;
}

.women_menu h6 {
    color: #fb56c1;
}


/* kids */

.kids:hover {
    border-bottom: 4px solid #f26a10 !important;
}

.kids_menu h6 {
    color: #f26a10;
}

/* home */

.home:hover{
    border-bottom: 4px solid #f2c210!important;
}

.home_menu h6 {
    color: #f2c210;
}

/* beayty */
.beauty:hover{
    border-bottom: 4px solid #0db7af!important;
}
.beauty_menu h6{
    color: #0db7af;
}

/* studio */
.studio:hover{
    border-bottom: 4px solid #ff3f6c!important;
}
.studio-mega{
    display: block;
    width: 514px;
    max-width: 115% !important;
    height: 463px;
    /* margin: 27px 16px 0 15px !important; */
}
.std_btn{
    border: 1px solid #d4d5d8 !important;
}

/* profile */
.profile:hover{
    border-bottom: 4px solid #f16565!important;
}
.profile_menu{
    width: 300px;
}
.profile {
    border-bottom: 4px solid white!important;   
}
.profile_menu p {
    color: #3E4152;
    margin-bottom: 0px;
}
.profile_menu .p_btn{
    border: 1px solid #d4d5d8 !important;
    font-size: 14px;
}
.p_btn:hover{
    border: 1px solid #ff3f6c!important;
}

/* footer */



footer {
    background-color: #f8f9fa;
    padding: 40px 170px;
}

footer h6 {
    font-weight: bold;
    margin-bottom: 25px !important;
    font-size: 12px;
}

footer ul {
    padding: 0;
    list-style-type: none;
}

footer ul li ,.desktop-product a ,.content ol li {
    font-size: 14px;
}

footer .fw-bold-1 {
    font-size: 13px;
    margin-bottom: 5px;
}

footer .store-badge.play-store {
    width: 139.82px;
    height: 42px;
    margin-right: 10px;
}

footer .store-badge.app-store {
    width: 122.54px;
    height: 42px;
    margin-right: 10px;
}

footer a img.social-icon {
    margin-right: 10px;
}

footer .original img {
    margin-left: -10px;
    margin-right: 10px;
    width: 47.5px;
    height: 40px;
}
footer .mt-2{
        margin-top: .5rem !important;
}
footer .row{
    --bs-gutter-x: 0.5rem   !important;
    --bs-gutter-y: -2.5rem !important;
}
footer .desktop-product a::after{
    content: "|";
    margin-left: 3px;
    

}
.desktop-product a , .list-unstyled li{
    text-decoration: none;
    color: #696b79;
}
.popular .row{
    --bs-gutter-x: -8.5rem   !important;
    --bs-gutter-y: -2.5rem !important;
}
.popular-searches {
          
    font-size: 14px;
    color: #000;
    position: relative;
    padding-bottom: 5px;
}
.popular-searches::after {
    content: "";
    width: 86%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 6px;
    left: 150px;

}
.bm .col-lg-3{
        width: 24.33%;
    margin-top: 20px;
    margin-left: 113px;
}
.online-shop p{
    font-size: 14px;
    color: #000;
    position: relative;
    padding-bottom: 5px;
}
.online-shop p::after{
    width: 86%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 6px;
    left: 150px;
}

.content ol {
    padding-left: 20px;
}
.content ol li {
    margin-bottom: 20px;
}
.content ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 40px;
}
.content ul li:before {
    content: "•";
    position: absolute;
    left: 23px;
    color: #888888;
}




/* Bell button */
.t_btn {
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    position: relative;
    border-radius: 50%;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.t_btn i {
    font-size: 20px;
}

.t_btn:hover {
    background-color: #4F6CFF;
    transform: scale(1.1);
}

.modal-header {
    font-size: 14px;
    background-color: #4F6CFF;
    color: white;
    padding: 10px 15px;
}

.modal-header .modal-title {
    font-size: 18px;
}

.modal-header .btn-close {
    color: white;
    font-size: 20px;
}

.modal-body {
    font-size: 14px;
    padding: 10px;
}

.modal-body .d-flex {
    align-items: center !important;
    justify-content: space-between !;
    padding-bottom: 10px !important;
}

.modal-body img {
    margin-right: 10px;
}

.modal-body h6 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
}

.modal-body p {
    margin-bottom: 0;
    font-size: 12px;
    color: gray;
}

.modal-footer {
    font-size: 14px;
    background-color: #FFECEB;
    border: 1px solid #FFE1DF;
    color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.modal-footer .d-flex {
    background-color: #FFECEB;
    border: 1px solid #FFE1DF;
    color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: flex;
    justify-content: center I;
    align-items: center;
}

.modal-footer p {
    margin-bottom: 0;
}

.modal-footer .ri-error-warning-line {
    color: #ff5722;
    font-size: 20px;
    margin-right: 10px;
}
.modal-content{
    width: 70%;
}
.spinner-wrap {
    position: relative !important;
    margin-top: 200px !important;
  }

  .spinner-item {
    background: #7a88ce;
    border: 1px solid #7a88ce;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: zoom 2s linear 0.75s infinite;
    z-index: -1;
  }

  .spinner-item--2 {
    animation-delay: 1.25s;
  }

  .spinner-item--3 {
    animation-delay: 1.75s;
  }

  @keyframes zoom {
    0% {
      transform: translate(-50%, -50%) scale(0.2);
      opacity: 0;
    }
    50% {
      opacity: 0.9;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
    }
  }

  .btn-primary {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }